.cart-icon {
	width: 70px;
	height: 70px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	.shopping-icon {
		width: 34px;
		height: 34px;
	}

	.item-count {
		position: absolute;
		font-size: 1rem;
		bottom: 20px;
	}
}
